* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("fundo.jpg");
}

.caixa-texto {
	background: rgb(195, 195, 195);
	width: 50%;
	margin: 0 auto;
	padding: 1rem;
	margin-top: 3%;
	border-radius: 3rem;
	box-shadow: 3px 5px 10px rgb(97, 97, 97)
}

h1 {
	font-family: Gluten;
	font-size: 70px;
	text-align: center;
}

.carrossel{
	width: 400px;
	height: 300px;
	/*outline: 5px solid red  ;*/
	overflow: hidden;
	margin: 50px auto;
	box-shadow: 3px 5px 20px black;
}

.carrossel ul {
	list-style: none;
	width: 1600px;
	height: 300px;
	display: flex;
}

.carrossel li {
	position: relative;
	animation: deslize 30s infinite ease-out;
}

.imagem {
	object-position: center;
}

@keyframes deslize {
	0% { left: 0; }
		10.5% { left: 0; }
	12.5% { left: -400px; }
		23% { left: -400px; }
	25% { left: -800px; }
		35.5% { left: -800px; }
	37.5% { left: -1200px; }
		48% { left: -1200px; }
	50% { left: -1600px; }
		60.5% { left: -1600px; }
	62.5% { left: -2000px; }
		73% { left: -2000px; }
	75% { left: -2400px; }
		85.5% { left: -2400px; }
	87.5% { left: -2800px; }
		98% { left: -2800px; }
	100% { left: 0px; }
}